body {background-color:#ffe8cd;
text-align: center;
color: white;}


h1 {font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
color: white;
display: block;
}

input {width: auto;
    background-color: #2c2842;
height: 30px;
border-radius: 10px;
border-color: black;}

::placeholder {color: white;
text-align: center;}

button {width: 50pxpx;
height: 40px;
text-align: center;
border-radius: 10px;
background-color: #2c2842;
color: white;}


.calculadora {
    display: inline-block;
    width: 50%;
    height: 50%;
    background-color: #ed6452;
    border-radius: 10px 10px 0px 0px;
}

.info {display: inline-block;
background-color: #c94738;
height: 50%;
width: 50%;
border-radius: 0px 0px 10px 10px;}

ul {display:inline-block;
text-align: left;}
